.jumbotron {
    background-image: url("http://ofnuv3twy.bkt.clouddn.com/landing_page_main.jpg?imageMogr2/thumbnail/900x400!");
    background-size: cover;
    min-height: 450px;
}

.container-fluid a{
    margin: 2px;
}

.panel {
    margin-left: 10px;
    min-height: 250px;
}