.jumbotron {
    background-size: cover;
    background: url("http://ofnuv3twy.bkt.clouddn.com/landing_page_main.jpg?imageMogr2/thumbnail/895x375!") 100%, 100%;
    min-height: 200px;
}

.container-fluid a{
    margin: 2px;
}

.panel {
    margin-left: 10px;
    min-height: 250px;
}