{% extends 'myblog/blog_base.html' %}
{% block blog_stylesheet %}
    {% load static %}
    <link href="{% static 'public/css/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <style>
    .fa-hover a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #222;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
    }
    </style>
{% endblock %}


{% block title %}
    关于
{% endblock %}

{% block blog_content %}
    <h3>wood，后端开发，杭州</h3>
    <hr/>

    <div class="fa-hover">
        <a href="https://github.com/hello-wood" target="_blank">
            <i class="fa fa-fw fa-github"></i>
            hello-wood
        </a>
    </div>
{% endblock %}