{% extends 'myblog/blog_base.html' %}

{% block title %}
    全部博客
{% endblock %}

{% block blog_content %}
    {% if perms.bloginfo.add %}
    <div class="row" style="text-align: right">
        <a class="btn bg-primary" href="{% url "myblog:upload_blog" %}">上传博客</a>
    </div>
    <hr/>
    {% endif %}
    <h3>全部博客</h3>
    <hr/>
    <div class="list-group">
        {% load myTag %}
        {% for blog in blog_list %}
        <div class="row list-group-item" style="padding-bottom: 66px;border: 0;">
            <span>
                <a href="{% url 'myblog:blog_detail' blog.id  %}">
                    <h4 class="list-group-item-heading">{{ blog.title }}</h4>
                    <span style="float: right">{{ blog.created | date:"发布于：Y年m月d日" }}</span>
                </a>
            </span>
            <div style="margin: 5px">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true">&nbsp;{{ blog.click_count }}</span>
                &emsp;
                {% if blog.blogtagrelation_set.all %}
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    {% for tag_relation in blog.blogtagrelation_set.all %}
                        <a class="btn btn-default btn-xs" href="/blog_list?tag={{ tag_relation.tag.id }}">{{ tag_relation.tag.tag_name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            {% if perms.bloginfo.add %}
                <div class="col-md-9">
                    <p style="min-height: 30px;" class="list-group-item-text">{{ blog.abstract | truncate_chars:125 }}</p>
                </div>
                <div class="col-md-3">
                    <div class="row">
                    </div>
                    <div class="row" style="text-align: right">
                        <a class="btn bg-primary" href="/edit_blog?blog_id={{ blog.id }}">编辑</a>
                        <a class="btn bg-primary" href="/add_blog_tag?blog_id={{ blog.id }}">设置博客标签</a>
                    </div>
                </div>
            {% else %}
                <p style="min-height: 30px;" class="list-group-item-text">{{ blog.abstract | truncate_chars:125 }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if blog_list.has_previous %}
                <li>
                    <a href="/blog_list?page={{blog_list.previous_page_number}}" aria-label="上一页">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in page_range  %}
                <li><a href="/blog_list?page={{ i }}" class="{% if i == blog_list.number %}active{% endif %}">{{ i }}</a></li>
            {% endfor %}
            {% if blog_list.has_next %}
                <li>
                    <a href="/blog_list?page={{ blog_list.next_page_number }}" aria-label="下一页">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block side_bar %}
    <div class="panel panel-success nav-panel">
        <div class="panel-heading">
            <h4 class="panel-title">标签</h4>
        </div>
        <div class="panel-body">
            <div class="container-fluid"> {% for tag in tag_list %}
                <a href="/blog_list?tag={{ tag.id }}" class="btn btn-default {% if tag.priority == 0 %}btn-lg{% elif tag.priority == 2 %}btn-sm{% elif tag.priority == 3%}btn-xs{% endif %}">
                    {{ tag.tag_name }}
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
