{% extends 'base.html' %}

{% block title %}
{{ blog.title }}
{% endblock %}

{% block stylesheet %}
    {% load static %}
    <link href="{% static 'myblog/css/pygments-friendly.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-8">
        <div id="blog_content" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ blog.title }}</h3>
            </div>
            <div class="panel-body">
                {% load markdown_deux_tags %}
                {{ blog.content|markdown:'codehilite' }}
            </div>
        </div>
    </div>
    <div>
        <div id="blog_nav" class="panel panel-default">
            
        </div>
    </div>
    </div>
{% endblock %}