{% extends 'myblog/blog_base.html' %}

{% block title %}
    全部博客
{% endblock %}

{% block blog_content %}
    {% if perms.bloginfo.add %}
    <div class="row" style="text-align: right">
        <a class="btn bg-primary" href="{% url "myblog:upload_blog" %}">上传博客</a>
    </div>
    <hr/>
    {% endif %}
    <h3>全部博客</h3>
    <hr/>
    <div class="list-group">
        {% for blog in blog_list %}
        <div class="row list-group-item" style="margin-bottom: 20px">
            <div class="col-md-9">
                <a href="{% url 'myblog:blog_detail' blog.id  %}">
                    <h4 class="list-group-item-heading">{{ blog.title }}</h4>
                </a>
                <p style="min-height: 30px" class="list-group-item-text">{{ blog.abstract }}
                </p>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <span style="float: right">{{ blog.created | date:"发布于：Y年m月d日" }}</span>
                </div>
                <div class="row" style="text-align: right">
                    <a class="btn bg-primary" href="/edit_blog?blog_id={{ blog.id }}">编辑</a>
                    <a class="btn bg-primary" href="/add_blog_tag?blog_id={{ blog.id }}">设置博客标签</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if blog_list.has_previous %}
                <li>
                    <a href="/blog_list?page={{blog_list.previous_page_number}}" aria-label="上一页">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in page_range  %}
                <li><a href="/blog_list?page={{ i }}" class="{% if i == blog_list.number %}active{% endif %}">{{ i }}</a></li>
            {% endfor %}
            {% if blog_list.has_next %}
                <li>
                    <a href="/blog_list?page={{ blog_list.next_page_number }}" aria-label="下一页">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
