{% extends 'myblog/blog_base.html' %}

{% block title %}
{{ blog.title }}
{% endblock %}

{% block blog_stylesheet %}
    {% load static %}
    <link href="{% static 'myblog/css/pygments-friendly.css' %}" rel="stylesheet">
    <link href="{% static 'myblog/css/blog_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block blog_content %}
    <h2>{{ blog.title }}</h2>
    {% if blog.author %}
        <div style="text-align: right">
            <h4>作者： <strong>{{ blog.author }}</strong></h4>
        </div>
    {% endif %}
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="margin-right: 5px;">&nbsp;{{ blog.click_count }}</span>
        &emsp;
        {% if blog.tags %}
            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            {% for tag in blog.tags %}
                <a class="btn btn-default btn-xs" href="/blog_list?tag={{ tag.id }}">{{ tag.tag_name }}</a>
            {% endfor %}
        {% endif %}
    <hr style="margin-top: 5px; margin-bottom: 2px"/>
    {% load myTag %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ blog.content|markdown|safe }}
        </div>
    </div>

    <div class="row blog-comment">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">评论:</h3>
            </div>
            <div class="panel-body">
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="{{ blog.blog_info_id }}" data-title="{{ blog.title }}" data-url="http://blog.hellowood.net{{ blog.url }}"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"hellowood"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->
            </div>
        </div>
    </div>

{% endblock %}

{% block side_bar %}
    <div class="panel panel-success nav-panel">
        <div class="panel-heading">
            <h4 class="panel-title">标签</h4>
        </div>
        <div class="panel-body">
            <div class="container-fluid"> {% for tag in tag_list %}
                <a href="/blog_list?tag={{ tag.id }}" class="btn btn-default {% if tag.priority == 0 %}btn-lg{% elif tag.priority == 2 %}btn-sm{% elif tag.priority == 3%}btn-xs{% endif %}">
                    {{ tag.tag_name }}
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}