{% extends 'myblog/blog_base.html' %}

{% block title %}
    全部博客
{% endblock %}

{% block blog_content %}
    <div class="list-group">
    {% for blog in blog_list %}
        <a href="{% url 'myblog:blog_detail' blog.id  %}" class="list-group-item">{{ blog.title }}</a>
    {% endfor %}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if blog_list.has_previous %}
                <li>
                    <a href="{% url 'myblog:blog_list' blog_list.previous_page_number %}" aria-label="上一页">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in page_range  %}
                <li><a href="{% url 'myblog:blog_list' i %}" class="{% if i == blog_list.number %}active{% endif %}">{{ i }}</a></li>
            {% endfor %}
            {% if blog_list.has_next %}
                <li>
                    <a href="{% url 'myblog:blog_list' blog_list.next_page_number %}" aria-label="下一页">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
