{% extends 'base.html' %}

{% block metadata %}
    <meta http-equiv="x-dns-prefetch-control" content="on">
{% endblock %}

{% block stylesheet %}
    {% load static %}
    <link href="{% static 'myblog/css/blog_base.css' %}" rel="stylesheet">
    <link rel="dns-prefetch" href="//static.duoshuo.com">
    <link rel="dns-perfetch" href="//ofnuv3twy.bkt.clouddn.com">
    {% block blog_stylesheet %}
    {% endblock %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
    $(".blog-content img").addClass('img-responsive');
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9 blog-content" id="blog_content">
        {% block blog_content %}
        {% endblock %}
    </div>
    <div class="col-md-3">
        <div class="panel panel-default nav-panel">
            <div class="panel-heading">
                <h3 class="panel-title">最热文章</h3>
            </div>
            <!-- 多说热评文章 start -->
            <div class="ds-top-threads panel-body" data-range="weekly" data-num-items="5"></div>
            <!-- 多说热评文章 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"hellowood"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
        </div>
        <div class="panel panel-default nav-panel">
            <div class="panel-heading">
                <h3 class="panel-title">最新评论</h3>
            </div>
            <!-- 多说最新评论 start -->
            <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
            <!-- 多说最新评论 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"hellowood"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
        </div>
    </div>
</div>
{% endblock %}