{% extends "base.html" %}

{% block title %}
    首页
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Hello Wood!</h1>
        <p class="lead">
            <code>
                include "stdio.h"

                int main(){

                    printf("Hello Wood!");
                    exit(0);
                }
            </code>
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>最新博客</h4>
            {% if newest_blog_list %}
                <ul>
                {% for blog in newest_blog_list %}
                    <li>
                        <a href="{% url "myblog:blog_detail" blog.id %}">
                            {{ blog.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="col-lg-6">
            <h4>热门博客</h4>
            <!-- 多说热评文章 start -->
            <div class="ds-top-threads panel-body" data-range="weekly" data-num-items="5"></div>
            <!-- 多说热评文章 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"hellowood"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
        </div>
    </div>
{% endblock %}
