<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>
    {% load static %}

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "public/css/base.css" %}" rel="stylesheet">

    {% block stylesheet %}{% endblock %}

    {% block script %}{% endblock %}
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="{% url 'myblog:index' %}">主页</a></li>
                <li role="presentation"><a href="#">博客</a></li>
                <li role="presentation"><a href="#">记一笔</a></li>
                <li role="presentation"><a href="#">关于</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">
            {% block project_name %}{% endblock %}
        </h3>
    </div>

    {% block content %}{% endblock %}


    <footer class="footer">
        <p>Copyright © 2010-2016 WOOD'S BLOG - All Rights Reserved. </p>
    </footer>

</div> <!-- /container -->
</body>
</html>
